$i: 480;

@while $i <= 960 {
    $ag-respond: "[class~='ag-respond:#{$i}']";

    @media screen and (min-width: #{$i + 1}px) {
        [class*='ag-split']#{$ag-respond} > .ag-cel,
        [class*='ag-split']#{$ag-respond} > .ag-line {
            display: inline-block;
        }
        
        [class*='ag-split']#{$ag-respond} > .ag-show {
            display: none;
        }
    }
    
    @media screen and (max-width: #{$i}px) {
        [class*='ag-split']#{$ag-respond} > .ag-cel {
            width: auto !important;
        }
    }
    
    $i: $i + 20;
}
