$i: 480;

@while $i <= 960 {
    $ag-res: "[ag-res='#{$i}']";

    @media screen and (min-width: #{$i + 1}px) {
        [ag]#{$ag-res} > [ag-cel] {
            display: inline-block;
        }
        
        [ag]#{$ag-res} > [ag-cel='show'] {
            display: none;
        }
    }
    
    @media screen and (max-width: #{$i}px) {
        [ag]#{$ag-res} > [ag-cel] {
            width: auto !important;
        }
        
        #{$ag-res} > [ag-line] {
			display: none;
		}
    }
    
    $i: $i + 20;
}
