@import 'partials/mixins';

/*
 * ag
 * -------
 */

[ag] {
    visibility: hidden;
    /*
     * Justified alignment doesn't affect the last line of text. If there is 
     * only one line, it is the first and last line and won't be justified.
     *
     * Browsers that don't support text-align-last have a second line added by
     * inserting an ::after pseudo-element to force a second line allowing the
     * first line to be justified
     *
     * Since line-height affects multiple lines, setting line-height:0 removes 
     * the extra space created by the second line
     */
    line-height: 0;
    /* IE supports text-align-last */
    line-height: normal\9;
    text-align: justify;
    -moz-text-align-last: justify;
    /*
     * IE requires both text-align:justify and text-align-last:justify in order
     * to justify the last line, whereas, Firefox does not
     */
    -ms-text-align-last: justify;           
    /*
     * Setting a low negative letter-spacing value removes the white space 
     * between inline-block elements (cels) and may cause adjacent cels to 
     * overlap
     *
     * Using text-align:justify distributes cels evenly across their parent 
     * preventing cel overlap that may have been caused by negative letter 
     * spacing
     *
     * This allows two cels that have a width of 50%, for instance, to be flush 
     * with one another without wrapping
     */
    letter-spacing: -.334em;
    /* IE requires a smaller threshold */
    letter-spacing: -.34em\9;
}

[ag-ready] {
    visibility: visible;
}

[ag~='space:1'],
[ag~='space:2'],
[ag~='space:3'],
[ag~='space:4'],
[ag~='space:5'] {
    /*
     * Firefox doesn't align the last cels right edge in each line with the 
     * parent containers right edge if cel widths don't add up to 100% and the
     * letter-spacing value is less than -.25em
     * 
     * This applies to grid layouts and does not affect the last line
     * 
     * The value -.25em also yields more consistent results in webkit browsers
     * when setting smaller percentage widths to yield bigger gap sizes
     */
    letter-spacing: -.25em;
    /* IE */
    letter-spacing: -.34em\9;
}

/*
 * Browsers that don't support text-align-last will have a second line added by 
 * inserting an ::after pseudo-element to force a second line
 */
[ag]::after {
    content: '';
    display: inline-block;
    /* IE supports text-align-last */
    display: none\9;
    /* Force a second line */
    width: 100%;
    /* Remove extra space in webkit browsers */
    vertical-align: top;
}

@-moz-document url-prefix() {
    [ag] {
        /* Firefox supports text-align-last */
        line-height: normal;
    }
    [ag]::after {
        /* Firefox supports text-align-last */
        display: none;
    }
}


/* 
 * ag-cel
 * ------
 */

[ag] > [ag-cel] {
    @include boxSizing('border-box');
    /* IE bug fix to prevent wrapping when resizing */
    min-height: 100%;
    vertical-align: top;
    /* Reset the following */
    text-align: left;
    -moz-text-align-last: auto;
    -ms-text-align-last: auto;
    letter-spacing: normal;
}

/* Reset line-height with a low specificity making it easy to override */
[ag-cel] {
    line-height: 1.5;
}

[ag-cel='hide'] {
    display: none;
}

[ag]:not([ag-res]) > [ag-cel] {
    display: inline-block;
}

[ag]:not([ag-res]) > [ag-cel='show'] {
    display: none;
}

/* IE8 */
@media \0screen {
    [ag] > [ag-cel] {
        display: inline-block;
    }
    [ag] > [ag-cel='show'] {
        display: none;
    }
}


/* 
 * align 
 * -------- 
 */

[ag~='align:t'] > [ag-cel] {
    vertical-align: top;
}

[ag~='align:m'] > [ag-cel] {
    vertical-align: middle;
}

[ag~='align:b'] > [ag-cel] {
    vertical-align: bottom;
}


/*
 * flip 
 * -------
 */

[ag~='flip'] {
    direction: rtl;
}

[ag~='flip'] > [ag-cel] {
    direction: ltr;
}


/* 
 * ag-line
 * -------
 */

[ag-line] {
    display: none;
    overflow: hidden;
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-bottom-width: 0 !important;
    border: 1px solid #ccc;
    width: 0;
    vertical-align: top;
    visibility: hidden;
    opacity: 0;
    @include transition('opacity .5s');
}

[ag]:not([ag-res]) > [ag-line] {
    display: inline-block;
}

/* IE8 */
@media \0screen {
    [ag] > [ag-line] {
        display: inline-block;
    }
}

/* 
 * The attribute ag-ready is added via JavaScript once a layout has been 
 * initialized 
 */
[ag-ready] > [ag-line] {
    visibility: visible;
    opacity: 1;
}

/* 
 * The attribute ag-reflow is added via JavaScript temporarily while a layout is 
 * being resized
 */

[ag-reflow] > [ag-cel],
[ag-reflow] > [ag-line],
[ag~='align:t'] > [ag-cel],
[ag~='align:m'] > [ag-cel],
[ag~='align:b'] > [ag-cel] {
    min-height: 0 !important;
}


@import 'partials/layouts';
@import 'partials/respond';





