[class*='ns-split']{
    /*
     * Removes white space between inline-block elements
     *
     * Not all browsers support font-size:0. In this case, negative letter 
     * spacing is used as a fallback.
     *
     * For browsers that support font-size:0, letter-spacing is ignored when
     * the font-size value is 0
     */
    font-size:0;
    /* IE won't justify text with a font-size of 0 */
	font-size:1px\9;
    /*
     * Justified alignment doesn't affect the last line of text. If there is 
     * only one line, it is the first and last line and won't be justified.
     *
     * Browsers that don't support text-align-last have a second line added by
     * inserting an ::after pseudo-element to force a second line allowing the
     * first line to be justified
     *
     * Since line-height affects multiple lines, setting line-height:0 removes 
     * the extra space created by the second line
     */
    line-height:0;
    /* IE supports text-align-last */
    line-height:normal\9;
    text-align:justify;
    -moz-text-align-last:justify;
    /*
     * IE requires both text-align:justify and text-align-last:justify in order
     * to justify the last line, whereas, Firefox does not
     */
    -ms-text-align-last:justify;           
    /*
     * Setting a low negative letter-spacing value removes the white space 
     * between inline-block elements (cels) and may cause adjacent cels to 
     * overlap
     *
     * Using text-align:justify distributes cels evenly across their parent 
     * preventing cel overlap that may have been caused by negative letter 
     * spacing
     *
     * This allows two cels that have a width of 50%, for instance, to be flush 
     * with one another without wrapping
     */
    letter-spacing:-.334em;
    /* IE requires a smaller threshold */
    letter-spacing:-.34em\9;
}

/* IE8 */
@media \0screen{
    [class*='ns-split']{
        font-size:medium;
    }
}

[class*='ns-split'][class~='ns-space:1'],
[class*='ns-split'][class~='ns-space:2'],
[class*='ns-split'][class~='ns-space:3'],
[class*='ns-split'][class~='ns-space:4'],
[class*='ns-split'][class~='ns-space:5']{
    /*
     * Firefox doesn't align the last cels right edge in each line with the 
     * parent containers right edge if cel widths don't add up to 100% and the
     * letter-spacing value is less than -.25em
     * 
     * This applies to grid layouts and does not affect the last line
     * 
     * The value -.25em also yields more consistent results in webkit browsers
     * when setting smaller percentage widths to yield bigger gap sizes
     */
    letter-spacing:-.25em;
    /* IE */
    letter-spacing:-.34em\9;
}

/*
 * Browsers that don't support text-align-last will have a second line added by 
 * inserting an ::after pseudo-element to force a second line
 */
[class*='ns-split']::after{
    content:'';
    display:inline-block;
    /* IE supports text-align-last */
    display:none\9;
    /* Force a second line */
    width:100%;
    /* Remove extra space in webkit browsers */
    vertical-align:top;
}

@-moz-document url-prefix(){
    [class*='ns-split']{
        /* Firefox supports text-align-last */
        line-height:normal;
    }
    [class*='ns-split']::after{
        /* Firefox supports text-align-last */
        display:none;
    }
}

[class*='ns-split']>.ns-cel{
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    /* IE bug fix to prevent wrapping when resizing */
    min-height:100%;
    vertical-align:top;
    /* Reset the following */
    text-align:left;
    -moz-text-align-last:auto;
    -ms-text-align-last:auto;
    letter-spacing:normal;
}
.ns-cel{
    /* 
     * Reset temporary font-size and line-height values to sensible defaults
     *
     * The font-size and line-height for ns-cel will be generated based on the
     * the body elements font-size and line-height
     */
    font-size:16px;
    font-size:1rem;
    line-height:1.5;
}


/* Alignment */

[class*='ns-split'][class~='ns-align:t']>.ns-cel{
    vertical-align:top;
}
[class*='ns-split'][class~='ns-align:m']>.ns-cel{
    vertical-align:middle;
}
[class*='ns-split'][class~='ns-align:b']>.ns-cel{
    vertical-align:bottom;
}


/* Direction */

[class*='ns-split'].ns-flip{
    direction:rtl;
}
[class*='ns-split'].ns-flip>.ns-cel{
    direction:ltr;
}


/* Layouts */

[class~='ns-split:2']>.ns-cel{width:50%}
[class~='ns-split:2'][class~='ns-space:1']>.ns-cel{width:49.5%}
[class~='ns-split:2'][class~='ns-space:2']>.ns-cel{width:49%}
[class~='ns-split:2'][class~='ns-space:3']>.ns-cel{width:48.5%}
[class~='ns-split:2'][class~='ns-space:4']>.ns-cel{width:48%}
[class~='ns-split:2'][class~='ns-space:5']>.ns-cel{width:47.5%}

[class~='ns-split:3']>.ns-cel{width:33.333%}
[class~='ns-split:3'][class~='ns-space:1']>.ns-cel{width:32.665%}
[class~='ns-split:3'][class~='ns-space:2']>.ns-cel{width:32%}
[class~='ns-split:3'][class~='ns-space:3']>.ns-cel{width:31.33%}
[class~='ns-split:3'][class~='ns-space:4']>.ns-cel{width:30.665%}
[class~='ns-split:3'][class~='ns-space:5']>.ns-cel{width:30%}

[class~='ns-split:4']>.ns-cel{width:25%}
[class~='ns-split:4'][class~='ns-space:1']>.ns-cel{width:24.25%}
[class~='ns-split:4'][class~='ns-space:2']>.ns-cel{width:23.5%}
[class~='ns-split:4'][class~='ns-space:3']>.ns-cel{width:22.75%}
[class~='ns-split:4'][class~='ns-space:4']>.ns-cel{width:22%}
[class~='ns-split:4'][class~='ns-space:5']>.ns-cel{width:21.25%}

[class~='ns-split:5']>.ns-cel{width:20%}
[class~='ns-split:5'][class~='ns-space:1']>.ns-cel{width:19.2%}
[class~='ns-split:5'][class~='ns-space:2']>.ns-cel{width:18.4%}
[class~='ns-split:5'][class~='ns-space:3']>.ns-cel{width:17.6%}
[class~='ns-split:5'][class~='ns-space:4']>.ns-cel{width:16.8%}
[class~='ns-split:5'][class~='ns-space:5']>.ns-cel{width:16%}

[class~='ns-split:1/2']>.ns-cel{width:33.335%}
[class~='ns-split:1/2']>.ns-cel~.ns-cel{width:66.665%}
[class~='ns-split:1/2'][class~='ns-space:1']>.ns-cel{width:33%}
[class~='ns-split:1/2'][class~='ns-space:1']>.ns-cel~.ns-cel{width:66%}
[class~='ns-split:1/2'][class~='ns-space:2']>.ns-cel{width:32.665%}
[class~='ns-split:1/2'][class~='ns-space:2']>.ns-cel~.ns-cel{width:65.335%}
[class~='ns-split:1/2'][class~='ns-space:3']>.ns-cel{width:32.335%}
[class~='ns-split:1/2'][class~='ns-space:3']>.ns-cel~.ns-cel{width:64.665%}
[class~='ns-split:1/2'][class~='ns-space:4']>.ns-cel{width:32%}
[class~='ns-split:1/2'][class~='ns-space:4']>.ns-cel~.ns-cel{width:64%}
[class~='ns-split:1/2'][class~='ns-space:5']>.ns-cel{width:31.665%}
[class~='ns-split:1/2'][class~='ns-space:5']>.ns-cel~.ns-cel{width:63.335%}

[class~='ns-split:2/1']>.ns-cel{width:66.665%}
[class~='ns-split:2/1']>.ns-cel~.ns-cel{width:33.335%}
[class~='ns-split:2/1'][class~='ns-space:1']>.ns-cel{width:66%}
[class~='ns-split:2/1'][class~='ns-space:1']>.ns-cel~.ns-cel{width:33%}
[class~='ns-split:2/1'][class~='ns-space:2']>.ns-cel{width:65.335%}
[class~='ns-split:2/1'][class~='ns-space:2']>.ns-cel~.ns-cel{width:32.665%}
[class~='ns-split:2/1'][class~='ns-space:3']>.ns-cel{width:64.665%}
[class~='ns-split:2/1'][class~='ns-space:3']>.ns-cel~.ns-cel{width:32.335%}
[class~='ns-split:2/1'][class~='ns-space:4']>.ns-cel{width:64%}
[class~='ns-split:2/1'][class~='ns-space:4']>.ns-cel~.ns-cel{width:32%}
[class~='ns-split:2/1'][class~='ns-space:5']>.ns-cel{width:63.335%}
[class~='ns-split:2/1'][class~='ns-space:5']>.ns-cel~.ns-cel{width:31.665%}

[class~='ns-split:1/3']>.ns-cel{width:25%}
[class~='ns-split:1/3']>.ns-cel~.ns-cel{width:75%}
[class~='ns-split:1/3'][class~='ns-space:1']>.ns-cel{width:24.75%}
[class~='ns-split:1/3'][class~='ns-space:1']>.ns-cel~.ns-cel{width:74.25%}
[class~='ns-split:1/3'][class~='ns-space:2']>.ns-cel{width:24.5%}
[class~='ns-split:1/3'][class~='ns-space:2']>.ns-cel~.ns-cel{width:73.5%}
[class~='ns-split:1/3'][class~='ns-space:3']>.ns-cel{width:24.25%}
[class~='ns-split:1/3'][class~='ns-space:3']>.ns-cel~.ns-cel{width:72.75%}
[class~='ns-split:1/3'][class~='ns-space:4']>.ns-cel{width:24%}
[class~='ns-split:1/3'][class~='ns-space:4']>.ns-cel~.ns-cel{width:72%}
[class~='ns-split:1/3'][class~='ns-space:5']>.ns-cel{width:23.75%}
[class~='ns-split:1/3'][class~='ns-space:5']>.ns-cel~.ns-cel{width:71.25%}

[class~='ns-split:3/1']>.ns-cel{width:75%}
[class~='ns-split:3/1']>.ns-cel~.ns-cel{width:25%}
[class~='ns-split:3/1'][class~='ns-space:1']>.ns-cel{width:74.25%}
[class~='ns-split:3/1'][class~='ns-space:1']>.ns-cel~.ns-cel{width:24.75%}
[class~='ns-split:3/1'][class~='ns-space:2']>.ns-cel{width:73.5%}
[class~='ns-split:3/1'][class~='ns-space:2']>.ns-cel~.ns-cel{width:24.5%}
[class~='ns-split:3/1'][class~='ns-space:3']>.ns-cel{width:72.75%}
[class~='ns-split:3/1'][class~='ns-space:3']>.ns-cel~.ns-cel{width:24.25%}
[class~='ns-split:3/1'][class~='ns-space:4']>.ns-cel{width:72%}
[class~='ns-split:3/1'][class~='ns-space:4']>.ns-cel~.ns-cel{width:24%}
[class~='ns-split:3/1'][class~='ns-space:5']>.ns-cel{width:71.25%}
[class~='ns-split:3/1'][class~='ns-space:5']>.ns-cel~.ns-cel{width:23.75%}

[class~='ns-split:2/3']>.ns-cel{width:40%}
[class~='ns-split:2/3']>.ns-cel~.ns-cel{width:60%}
[class~='ns-split:2/3'][class~='ns-space:1']>.ns-cel{width:39.6%}
[class~='ns-split:2/3'][class~='ns-space:1']>.ns-cel~.ns-cel{width:59.4%}
[class~='ns-split:2/3'][class~='ns-space:2']>.ns-cel{width:39.2%}
[class~='ns-split:2/3'][class~='ns-space:2']>.ns-cel~.ns-cel{width:58.8%}
[class~='ns-split:2/3'][class~='ns-space:3']>.ns-cel{width:38.8%}
[class~='ns-split:2/3'][class~='ns-space:3']>.ns-cel~.ns-cel{width:58.2%}
[class~='ns-split:2/3'][class~='ns-space:4']>.ns-cel{width:38.4%}
[class~='ns-split:2/3'][class~='ns-space:4']>.ns-cel~.ns-cel{width:57.6%}
[class~='ns-split:2/3'][class~='ns-space:5']>.ns-cel{width:38%}
[class~='ns-split:2/3'][class~='ns-space:5']>.ns-cel~.ns-cel{width:57%}

[class~='ns-split:3/2']>.ns-cel{width:60%}
[class~='ns-split:3/2']>.ns-cel~.ns-cel{width:40%}
[class~='ns-split:3/2'][class~='ns-space:1']>.ns-cel{width:59.4%}
[class~='ns-split:3/2'][class~='ns-space:1']>.ns-cel~.ns-cel{width:39.6%}
[class~='ns-split:3/2'][class~='ns-space:2']>.ns-cel{width:58.8%}
[class~='ns-split:3/2'][class~='ns-space:2']>.ns-cel~.ns-cel{width:39.2%}
[class~='ns-split:3/2'][class~='ns-space:3']>.ns-cel{width:58.2%}
[class~='ns-split:3/2'][class~='ns-space:3']>.ns-cel~.ns-cel{width:38.8%}
[class~='ns-split:3/2'][class~='ns-space:4']>.ns-cel{width:57.6%}
[class~='ns-split:3/2'][class~='ns-space:4']>.ns-cel~.ns-cel{width:38.4%}
[class~='ns-split:3/2'][class~='ns-space:5']>.ns-cel{width:57%}
[class~='ns-split:3/2'][class~='ns-space:5']>.ns-cel~.ns-cel{width:38%}


/* Vertical line rule */

.ns-line{
    display:inline-block;
    overflow:hidden;
    border-top-width:0 !important;
    border-right-width:0 !important;
    border-bottom-width:0 !important;
    border:1px solid #ccc;
    width:0;
    vertical-align:top;
    visibility:hidden;
    opacity:0;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -ms-transition:opacity .5s;
    transition:opacity .5s;
}

/* The class ns-2 is added via JavaScript once the height of the line has been set */
.ns-line.ns-2{
    visibility:visible;
    opacity:1;
}


/* Responsive */

@media screen and (min-width:481px){[class~='ns-respond:480']>.ns-show{display:none}}
@media screen and (min-width:501px){[class~='ns-respond:500']>.ns-show{display:none}}
@media screen and (min-width:521px){[class~='ns-respond:520']>.ns-show{display:none}}
@media screen and (min-width:541px){[class~='ns-respond:540']>.ns-show{display:none}}
@media screen and (min-width:561px){[class~='ns-respond:560']>.ns-show{display:none}}
@media screen and (min-width:581px){[class~='ns-respond:580']>.ns-show{display:none}}
@media screen and (min-width:601px){[class~='ns-respond:600']>.ns-show{display:none}}
@media screen and (min-width:621px){[class~='ns-respond:620']>.ns-show{display:none}}
@media screen and (min-width:641px){[class~='ns-respond:640']>.ns-show{display:none}}
@media screen and (min-width:661px){[class~='ns-respond:660']>.ns-show{display:none}}
@media screen and (min-width:681px){[class~='ns-respond:680']>.ns-show{display:none}}
@media screen and (min-width:701px){[class~='ns-respond:700']>.ns-show{display:none}}
@media screen and (min-width:721px){[class~='ns-respond:720']>.ns-show{display:none}}
@media screen and (min-width:741px){[class~='ns-respond:740']>.ns-show{display:none}}
@media screen and (min-width:761px){[class~='ns-respond:760']>.ns-show{display:none}}
@media screen and (min-width:781px){[class~='ns-respond:780']>.ns-show{display:none}}
@media screen and (min-width:801px){[class~='ns-respond:800']>.ns-show{display:none}}
@media screen and (min-width:821px){[class~='ns-respond:820']>.ns-show{display:none}}
@media screen and (min-width:841px){[class~='ns-respond:840']>.ns-show{display:none}}
@media screen and (min-width:861px){[class~='ns-respond:860']>.ns-show{display:none}}
@media screen and (min-width:881px){[class~='ns-respond:880']>.ns-show{display:none}}
@media screen and (min-width:901px){[class~='ns-respond:900']>.ns-show{display:none}}
@media screen and (min-width:921px){[class~='ns-respond:920']>.ns-show{display:none}}
@media screen and (min-width:941px){[class~='ns-respond:940']>.ns-show{display:none}}
@media screen and (min-width:961px){[class~='ns-respond:960']>.ns-show{display:none}}


@media screen and (max-width:480px){
    [class~='ns-respond:480']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:480']>.ns-hide,
    [class~='ns-respond:480']>.ns-line{
        display:none
    }
}
@media screen and (max-width:500px){
    [class~='ns-respond:500']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:500']>.ns-hide,
    [class~='ns-respond:500']>.ns-line{
        display:none
    }
}
@media screen and (max-width:520px){
    [class~='ns-respond:520']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:520']>.ns-hide,
    [class~='ns-respond:520']>.ns-line{
        display:none
    }
}
@media screen and (max-width:540px){
    [class~='ns-respond:540']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:540']>.ns-hide,
    [class~='ns-respond:540']>.ns-line{
        display:none
    }
}
@media screen and (max-width:560px){
    [class~='ns-respond:560']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:560']>.ns-hide,
    [class~='ns-respond:560']>.ns-line{
        display:none
    }
}
@media screen and (max-width:580px){
    [class~='ns-respond:580']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:580']>.ns-hide,
    [class~='ns-respond:580']>.ns-line{
        display:none
    }
}
@media screen and (max-width:600px){
    [class~='ns-respond:600']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:600']>.ns-hide,
    [class~='ns-respond:600']>.ns-line{
        display:none
    }
}
@media screen and (max-width:620px){
    [class~='ns-respond:620']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:620']>.ns-hide,
    [class~='ns-respond:620']>.ns-line{
        display:none
    }
}
@media screen and (max-width:640px){
    [class~='ns-respond:640']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:640']>.ns-hide,
    [class~='ns-respond:640']>.ns-line{
        display:none
    }
}
@media screen and (max-width:660px){
    [class~='ns-respond:660']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:660']>.ns-hide,
    [class~='ns-respond:660']>.ns-line{
        display:none
    }
}
@media screen and (max-width:680px){
    [class~='ns-respond:680']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:680']>.ns-hide,
    [class~='ns-respond:680']>.ns-line{
        display:none
    }
}
@media screen and (max-width:700px){
    [class~='ns-respond:700']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:700']>.ns-hide,
    [class~='ns-respond:700']>.ns-line{
        display:none
    }
}
@media screen and (max-width:720px){
    [class~='ns-respond:720']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:720']>.ns-hide,
    [class~='ns-respond:720']>.ns-line{
        display:none
    }
}
@media screen and (max-width:740px){
    [class~='ns-respond:740']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:740']>.ns-hide,
    [class~='ns-respond:740']>.ns-line{
        display:none
    }
}
@media screen and (max-width:760px){
    [class~='ns-respond:760']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:760']>.ns-hide,
    [class~='ns-respond:760']>.ns-line{
        display:none
    }
}
@media screen and (max-width:780px){
    [class~='ns-respond:780']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:780']>.ns-hide,
    [class~='ns-respond:780']>.ns-line{
        display:none
    }
}
@media screen and (max-width:800px){
    [class~='ns-respond:800']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:800']>.ns-hide,
    [class~='ns-respond:800']>.ns-line{
        display:none
    }
}
@media screen and (max-width:820px){
    [class~='ns-respond:820']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:820']>.ns-hide,
    [class~='ns-respond:820']>.ns-line{
        display:none
    }
}
@media screen and (max-width:840px){
    [class~='ns-respond:840']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:840']>.ns-hide,
    [class~='ns-respond:840']>.ns-line{
        display:none
    }
}
@media screen and (max-width:860px){
    [class~='ns-respond:860']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:860']>.ns-hide,
    [class~='ns-respond:860']>.ns-line{
        display:none
    }
}
@media screen and (max-width:880px){
    [class~='ns-respond:880']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:880']>.ns-hide,
    [class~='ns-respond:880']>.ns-line{
        display:none
    }
}
@media screen and (max-width:900px){
    [class~='ns-respond:900']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:900']>.ns-hide,
    [class~='ns-respond:900']>.ns-line{
        display:none
    }
}
@media screen and (max-width:920px){
    [class~='ns-respond:920']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:920']>.ns-hide,
    [class~='ns-respond:920']>.ns-line{
        display:none
    }
}
@media screen and (max-width:940px){
    [class~='ns-respond:940']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:940']>.ns-hide,
    [class~='ns-respond:940']>.ns-line{
        display:none
    }
}
@media screen and (max-width:960px){
    [class~='ns-respond:960']:not(.ns-1)>.ns-cel{
        display:block;
        width:auto !important
    }
    [class~='ns-respond:960']>.ns-hide,
    [class~='ns-respond:960']>.ns-line{
        display:none
    }
}
