[class*='ag-split']{
    /*
     * Justified alignment doesn't affect the last line of text. If there is 
     * only one line, it is the first and last line and won't be justified.
     *
     * Browsers that don't support text-align-last have a second line added by
     * inserting an ::after pseudo-element to force a second line allowing the
     * first line to be justified
     *
     * Since line-height affects multiple lines, setting line-height:0 removes 
     * the extra space created by the second line
     */
    line-height:0;
    /* IE supports text-align-last */
    line-height:normal\9;
    text-align:justify;
    -moz-text-align-last:justify;
    /*
     * IE requires both text-align:justify and text-align-last:justify in order
     * to justify the last line, whereas, Firefox does not
     */
    -ms-text-align-last:justify;           
    /*
     * Setting a low negative letter-spacing value removes the white space 
     * between inline-block elements (cels) and may cause adjacent cels to 
     * overlap
     *
     * Using text-align:justify distributes cels evenly across their parent 
     * preventing cel overlap that may have been caused by negative letter 
     * spacing
     *
     * This allows two cels that have a width of 50%, for instance, to be flush 
     * with one another without wrapping
     */
    letter-spacing:-.334em;
    /* IE requires a smaller threshold */
    letter-spacing:-.34em\9;
}

[class*='ag-split'][class~='ag-space:1'],
[class*='ag-split'][class~='ag-space:2'],
[class*='ag-split'][class~='ag-space:3'],
[class*='ag-split'][class~='ag-space:4'],
[class*='ag-split'][class~='ag-space:5']{
    /*
     * Firefox doesn't align the last cels right edge in each line with the 
     * parent containers right edge if cel widths don't add up to 100% and the
     * letter-spacing value is less than -.25em
     * 
     * This applies to grid layouts and does not affect the last line
     * 
     * The value -.25em also yields more consistent results in webkit browsers
     * when setting smaller percentage widths to yield bigger gap sizes
     */
    letter-spacing:-.25em;
    /* IE */
    letter-spacing:-.34em\9;
}

/*
 * Browsers that don't support text-align-last will have a second line added by 
 * inserting an ::after pseudo-element to force a second line
 */
[class*='ag-split']::after{
    content:'';
    display:inline-block;
    /* IE supports text-align-last */
    display:none\9;
    /* Force a second line */
    width:100%;
    /* Remove extra space in webkit browsers */
    vertical-align:top;
}

@-moz-document url-prefix(){
    [class*='ag-split']{
        /* Firefox supports text-align-last */
        line-height:normal;
    }
    [class*='ag-split']::after{
        /* Firefox supports text-align-last */
        display:none;
    }
}

[class*='ag-split']>.ag-cel{
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    /* IE bug fix to prevent wrapping when resizing */
    min-height:100%;
    vertical-align:top;
    /* Reset the following */
    text-align:left;
    -moz-text-align-last:auto;
    -ms-text-align-last:auto;
    letter-spacing:normal;
}
.ag-cel{
    line-height:1.5;
}


/* Alignment */

[class*='ag-split'][class~='ag-align:t']>.ag-cel{
    vertical-align:top;
}
[class*='ag-split'][class~='ag-align:m']>.ag-cel{
    vertical-align:middle;
}
[class*='ag-split'][class~='ag-align:b']>.ag-cel{
    vertical-align:bottom;
}


/* Direction */

[class*='ag-split'].ag-flip{
    direction:rtl;
}
[class*='ag-split'].ag-flip>.ag-cel{
    direction:ltr;
}


/* Layouts */

[class~='ag-split:2']>.ag-cel{width:50%}
[class~='ag-split:2'][class~='ag-space:1']>.ag-cel{width:49.5%}
[class~='ag-split:2'][class~='ag-space:2']>.ag-cel{width:49%}
[class~='ag-split:2'][class~='ag-space:3']>.ag-cel{width:48.5%}
[class~='ag-split:2'][class~='ag-space:4']>.ag-cel{width:48%}
[class~='ag-split:2'][class~='ag-space:5']>.ag-cel{width:47.5%}

[class~='ag-split:3']>.ag-cel{width:33.333%}
[class~='ag-split:3'][class~='ag-space:1']>.ag-cel{width:32.665%}
[class~='ag-split:3'][class~='ag-space:2']>.ag-cel{width:32%}
[class~='ag-split:3'][class~='ag-space:3']>.ag-cel{width:31.33%}
[class~='ag-split:3'][class~='ag-space:4']>.ag-cel{width:30.665%}
[class~='ag-split:3'][class~='ag-space:5']>.ag-cel{width:30%}

[class~='ag-split:4']>.ag-cel{width:25%}
[class~='ag-split:4'][class~='ag-space:1']>.ag-cel{width:24.25%}
[class~='ag-split:4'][class~='ag-space:2']>.ag-cel{width:23.5%}
[class~='ag-split:4'][class~='ag-space:3']>.ag-cel{width:22.75%}
[class~='ag-split:4'][class~='ag-space:4']>.ag-cel{width:22%}
[class~='ag-split:4'][class~='ag-space:5']>.ag-cel{width:21.25%}

[class~='ag-split:5']>.ag-cel{width:20%}
[class~='ag-split:5'][class~='ag-space:1']>.ag-cel{width:19.2%}
[class~='ag-split:5'][class~='ag-space:2']>.ag-cel{width:18.4%}
[class~='ag-split:5'][class~='ag-space:3']>.ag-cel{width:17.6%}
[class~='ag-split:5'][class~='ag-space:4']>.ag-cel{width:16.8%}
[class~='ag-split:5'][class~='ag-space:5']>.ag-cel{width:16%}

[class~='ag-split:1/2']>.ag-cel{width:33.335%}
[class~='ag-split:1/2']>.ag-cel~.ag-cel{width:66.665%}
[class~='ag-split:1/2'][class~='ag-space:1']>.ag-cel{width:33%}
[class~='ag-split:1/2'][class~='ag-space:1']>.ag-cel~.ag-cel{width:66%}
[class~='ag-split:1/2'][class~='ag-space:2']>.ag-cel{width:32.665%}
[class~='ag-split:1/2'][class~='ag-space:2']>.ag-cel~.ag-cel{width:65.335%}
[class~='ag-split:1/2'][class~='ag-space:3']>.ag-cel{width:32.335%}
[class~='ag-split:1/2'][class~='ag-space:3']>.ag-cel~.ag-cel{width:64.665%}
[class~='ag-split:1/2'][class~='ag-space:4']>.ag-cel{width:32%}
[class~='ag-split:1/2'][class~='ag-space:4']>.ag-cel~.ag-cel{width:64%}
[class~='ag-split:1/2'][class~='ag-space:5']>.ag-cel{width:31.665%}
[class~='ag-split:1/2'][class~='ag-space:5']>.ag-cel~.ag-cel{width:63.335%}

[class~='ag-split:2/1']>.ag-cel{width:66.665%}
[class~='ag-split:2/1']>.ag-cel~.ag-cel{width:33.335%}
[class~='ag-split:2/1'][class~='ag-space:1']>.ag-cel{width:66%}
[class~='ag-split:2/1'][class~='ag-space:1']>.ag-cel~.ag-cel{width:33%}
[class~='ag-split:2/1'][class~='ag-space:2']>.ag-cel{width:65.335%}
[class~='ag-split:2/1'][class~='ag-space:2']>.ag-cel~.ag-cel{width:32.665%}
[class~='ag-split:2/1'][class~='ag-space:3']>.ag-cel{width:64.665%}
[class~='ag-split:2/1'][class~='ag-space:3']>.ag-cel~.ag-cel{width:32.335%}
[class~='ag-split:2/1'][class~='ag-space:4']>.ag-cel{width:64%}
[class~='ag-split:2/1'][class~='ag-space:4']>.ag-cel~.ag-cel{width:32%}
[class~='ag-split:2/1'][class~='ag-space:5']>.ag-cel{width:63.335%}
[class~='ag-split:2/1'][class~='ag-space:5']>.ag-cel~.ag-cel{width:31.665%}

[class~='ag-split:1/3']>.ag-cel{width:25%}
[class~='ag-split:1/3']>.ag-cel~.ag-cel{width:75%}
[class~='ag-split:1/3'][class~='ag-space:1']>.ag-cel{width:24.75%}
[class~='ag-split:1/3'][class~='ag-space:1']>.ag-cel~.ag-cel{width:74.25%}
[class~='ag-split:1/3'][class~='ag-space:2']>.ag-cel{width:24.5%}
[class~='ag-split:1/3'][class~='ag-space:2']>.ag-cel~.ag-cel{width:73.5%}
[class~='ag-split:1/3'][class~='ag-space:3']>.ag-cel{width:24.25%}
[class~='ag-split:1/3'][class~='ag-space:3']>.ag-cel~.ag-cel{width:72.75%}
[class~='ag-split:1/3'][class~='ag-space:4']>.ag-cel{width:24%}
[class~='ag-split:1/3'][class~='ag-space:4']>.ag-cel~.ag-cel{width:72%}
[class~='ag-split:1/3'][class~='ag-space:5']>.ag-cel{width:23.75%}
[class~='ag-split:1/3'][class~='ag-space:5']>.ag-cel~.ag-cel{width:71.25%}

[class~='ag-split:3/1']>.ag-cel{width:75%}
[class~='ag-split:3/1']>.ag-cel~.ag-cel{width:25%}
[class~='ag-split:3/1'][class~='ag-space:1']>.ag-cel{width:74.25%}
[class~='ag-split:3/1'][class~='ag-space:1']>.ag-cel~.ag-cel{width:24.75%}
[class~='ag-split:3/1'][class~='ag-space:2']>.ag-cel{width:73.5%}
[class~='ag-split:3/1'][class~='ag-space:2']>.ag-cel~.ag-cel{width:24.5%}
[class~='ag-split:3/1'][class~='ag-space:3']>.ag-cel{width:72.75%}
[class~='ag-split:3/1'][class~='ag-space:3']>.ag-cel~.ag-cel{width:24.25%}
[class~='ag-split:3/1'][class~='ag-space:4']>.ag-cel{width:72%}
[class~='ag-split:3/1'][class~='ag-space:4']>.ag-cel~.ag-cel{width:24%}
[class~='ag-split:3/1'][class~='ag-space:5']>.ag-cel{width:71.25%}
[class~='ag-split:3/1'][class~='ag-space:5']>.ag-cel~.ag-cel{width:23.75%}

[class~='ag-split:2/3']>.ag-cel{width:40%}
[class~='ag-split:2/3']>.ag-cel~.ag-cel{width:60%}
[class~='ag-split:2/3'][class~='ag-space:1']>.ag-cel{width:39.6%}
[class~='ag-split:2/3'][class~='ag-space:1']>.ag-cel~.ag-cel{width:59.4%}
[class~='ag-split:2/3'][class~='ag-space:2']>.ag-cel{width:39.2%}
[class~='ag-split:2/3'][class~='ag-space:2']>.ag-cel~.ag-cel{width:58.8%}
[class~='ag-split:2/3'][class~='ag-space:3']>.ag-cel{width:38.8%}
[class~='ag-split:2/3'][class~='ag-space:3']>.ag-cel~.ag-cel{width:58.2%}
[class~='ag-split:2/3'][class~='ag-space:4']>.ag-cel{width:38.4%}
[class~='ag-split:2/3'][class~='ag-space:4']>.ag-cel~.ag-cel{width:57.6%}
[class~='ag-split:2/3'][class~='ag-space:5']>.ag-cel{width:38%}
[class~='ag-split:2/3'][class~='ag-space:5']>.ag-cel~.ag-cel{width:57%}

[class~='ag-split:3/2']>.ag-cel{width:60%}
[class~='ag-split:3/2']>.ag-cel~.ag-cel{width:40%}
[class~='ag-split:3/2'][class~='ag-space:1']>.ag-cel{width:59.4%}
[class~='ag-split:3/2'][class~='ag-space:1']>.ag-cel~.ag-cel{width:39.6%}
[class~='ag-split:3/2'][class~='ag-space:2']>.ag-cel{width:58.8%}
[class~='ag-split:3/2'][class~='ag-space:2']>.ag-cel~.ag-cel{width:39.2%}
[class~='ag-split:3/2'][class~='ag-space:3']>.ag-cel{width:58.2%}
[class~='ag-split:3/2'][class~='ag-space:3']>.ag-cel~.ag-cel{width:38.8%}
[class~='ag-split:3/2'][class~='ag-space:4']>.ag-cel{width:57.6%}
[class~='ag-split:3/2'][class~='ag-space:4']>.ag-cel~.ag-cel{width:38.4%}
[class~='ag-split:3/2'][class~='ag-space:5']>.ag-cel{width:57%}
[class~='ag-split:3/2'][class~='ag-space:5']>.ag-cel~.ag-cel{width:38%}


/* Vertical line rule */

.ag-line{
    display:inline-block;
    overflow:hidden;
    border-top-width:0 !important;
    border-right-width:0 !important;
    border-bottom-width:0 !important;
    border:1px solid #ccc;
    width:0;
    vertical-align:top;
    visibility:hidden;
    opacity:0;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -ms-transition:opacity .5s;
    transition:opacity .5s;
}

/* The class ag-ready is added via JavaScript once a layout has been initialized */
.ag-ready>.ag-line{
    visibility:visible;
    opacity:1;
}

/* 
 * The class ag-reflow is added via JavaScript temporarily while a layout is 
 * being resized
 */
.ag-reflow>.ag-line{
    min-height:0 !important;
}


/* Responsive */

/* 
 * IE8 doesn't support media queries, so make sure cels that should be hidden
 * with ag-show are hidden 
 */
@media \0screen{
    [class*='ag-split']>.ag-show{
        display:none;
    }
}

@media screen and (min-width:481px){[class~='ag-respond:480']>.ag-show{display:none}}
@media screen and (min-width:501px){[class~='ag-respond:500']>.ag-show{display:none}}
@media screen and (min-width:521px){[class~='ag-respond:520']>.ag-show{display:none}}
@media screen and (min-width:541px){[class~='ag-respond:540']>.ag-show{display:none}}
@media screen and (min-width:561px){[class~='ag-respond:560']>.ag-show{display:none}}
@media screen and (min-width:581px){[class~='ag-respond:580']>.ag-show{display:none}}
@media screen and (min-width:601px){[class~='ag-respond:600']>.ag-show{display:none}}
@media screen and (min-width:621px){[class~='ag-respond:620']>.ag-show{display:none}}
@media screen and (min-width:641px){[class~='ag-respond:640']>.ag-show{display:none}}
@media screen and (min-width:661px){[class~='ag-respond:660']>.ag-show{display:none}}
@media screen and (min-width:681px){[class~='ag-respond:680']>.ag-show{display:none}}
@media screen and (min-width:701px){[class~='ag-respond:700']>.ag-show{display:none}}
@media screen and (min-width:721px){[class~='ag-respond:720']>.ag-show{display:none}}
@media screen and (min-width:741px){[class~='ag-respond:740']>.ag-show{display:none}}
@media screen and (min-width:761px){[class~='ag-respond:760']>.ag-show{display:none}}
@media screen and (min-width:781px){[class~='ag-respond:780']>.ag-show{display:none}}
@media screen and (min-width:801px){[class~='ag-respond:800']>.ag-show{display:none}}
@media screen and (min-width:821px){[class~='ag-respond:820']>.ag-show{display:none}}
@media screen and (min-width:841px){[class~='ag-respond:840']>.ag-show{display:none}}
@media screen and (min-width:861px){[class~='ag-respond:860']>.ag-show{display:none}}
@media screen and (min-width:881px){[class~='ag-respond:880']>.ag-show{display:none}}
@media screen and (min-width:901px){[class~='ag-respond:900']>.ag-show{display:none}}
@media screen and (min-width:921px){[class~='ag-respond:920']>.ag-show{display:none}}
@media screen and (min-width:941px){[class~='ag-respond:940']>.ag-show{display:none}}
@media screen and (min-width:961px){[class~='ag-respond:960']>.ag-show{display:none}}


@media screen and (max-width:480px){
    [class~='ag-respond:480']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:480']>.ag-hide,
    [class~='ag-respond:480']>.ag-line{
        display:none
    }
}
@media screen and (max-width:500px){
    [class~='ag-respond:500']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:500']>.ag-hide,
    [class~='ag-respond:500']>.ag-line{
        display:none
    }
}
@media screen and (max-width:520px){
    [class~='ag-respond:520']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:520']>.ag-hide,
    [class~='ag-respond:520']>.ag-line{
        display:none
    }
}
@media screen and (max-width:540px){
    [class~='ag-respond:540']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:540']>.ag-hide,
    [class~='ag-respond:540']>.ag-line{
        display:none
    }
}
@media screen and (max-width:560px){
    [class~='ag-respond:560']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:560']>.ag-hide,
    [class~='ag-respond:560']>.ag-line{
        display:none
    }
}
@media screen and (max-width:580px){
    [class~='ag-respond:580']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:580']>.ag-hide,
    [class~='ag-respond:580']>.ag-line{
        display:none
    }
}
@media screen and (max-width:600px){
    [class~='ag-respond:600']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:600']>.ag-hide,
    [class~='ag-respond:600']>.ag-line{
        display:none
    }
}
@media screen and (max-width:620px){
    [class~='ag-respond:620']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:620']>.ag-hide,
    [class~='ag-respond:620']>.ag-line{
        display:none
    }
}
@media screen and (max-width:640px){
    [class~='ag-respond:640']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:640']>.ag-hide,
    [class~='ag-respond:640']>.ag-line{
        display:none
    }
}
@media screen and (max-width:660px){
    [class~='ag-respond:660']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:660']>.ag-hide,
    [class~='ag-respond:660']>.ag-line{
        display:none
    }
}
@media screen and (max-width:680px){
    [class~='ag-respond:680']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:680']>.ag-hide,
    [class~='ag-respond:680']>.ag-line{
        display:none
    }
}
@media screen and (max-width:700px){
    [class~='ag-respond:700']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:700']>.ag-hide,
    [class~='ag-respond:700']>.ag-line{
        display:none
    }
}
@media screen and (max-width:720px){
    [class~='ag-respond:720']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:720']>.ag-hide,
    [class~='ag-respond:720']>.ag-line{
        display:none
    }
}
@media screen and (max-width:740px){
    [class~='ag-respond:740']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:740']>.ag-hide,
    [class~='ag-respond:740']>.ag-line{
        display:none
    }
}
@media screen and (max-width:760px){
    [class~='ag-respond:760']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:760']>.ag-hide,
    [class~='ag-respond:760']>.ag-line{
        display:none
    }
}
@media screen and (max-width:780px){
    [class~='ag-respond:780']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:780']>.ag-hide,
    [class~='ag-respond:780']>.ag-line{
        display:none
    }
}
@media screen and (max-width:800px){
    [class~='ag-respond:800']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:800']>.ag-hide,
    [class~='ag-respond:800']>.ag-line{
        display:none
    }
}
@media screen and (max-width:820px){
    [class~='ag-respond:820']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:820']>.ag-hide,
    [class~='ag-respond:820']>.ag-line{
        display:none
    }
}
@media screen and (max-width:840px){
    [class~='ag-respond:840']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:840']>.ag-hide,
    [class~='ag-respond:840']>.ag-line{
        display:none
    }
}
@media screen and (max-width:860px){
    [class~='ag-respond:860']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:860']>.ag-hide,
    [class~='ag-respond:860']>.ag-line{
        display:none
    }
}
@media screen and (max-width:880px){
    [class~='ag-respond:880']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:880']>.ag-hide,
    [class~='ag-respond:880']>.ag-line{
        display:none
    }
}
@media screen and (max-width:900px){
    [class~='ag-respond:900']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:900']>.ag-hide,
    [class~='ag-respond:900']>.ag-line{
        display:none
    }
}
@media screen and (max-width:920px){
    [class~='ag-respond:920']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:920']>.ag-hide,
    [class~='ag-respond:920']>.ag-line{
        display:none
    }
}
@media screen and (max-width:940px){
    [class~='ag-respond:940']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:940']>.ag-hide,
    [class~='ag-respond:940']>.ag-line{
        display:none
    }
}
@media screen and (max-width:960px){
    [class~='ag-respond:960']:not(.ag-1)>.ag-cel{
        display:block;
        width:auto !important
    }
    [class~='ag-respond:960']>.ag-hide,
    [class~='ag-respond:960']>.ag-line{
        display:none
    }
}
